@page "/Groups"
@model Estral.Gif.Pages.GroupsModel

<article id="page">
    <a href="/AddGroup">Add group</a>
    <ul>
        @foreach (var group in Model.Groups)
        {
            <li class="group-li">
                <div>
                    <p>@group.Name</p>
                    <p>@group.GifCount gifs</p>
                    <button onclick="deleteGroup('@group.Id', '@group.Name')">X</button>
                    <a href="/Group/@group.Id">Browse</a>
                </div>
            </li>
        }
    </ul>

    <helper:form style="display: none" method="POST" id="form">
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" id="form-id-input" value="" />
    </helper:form>

    <script>
        function deleteGroup(id, name) {
            if (!alert("Are you sure you want to delete the group " + name)) return;
            const form = document.getElementById("form");
            const input = document.getElementById("form-id-input");
            input.value = id;
            form.submit();
        }
    </script>
</article>
